
.btn{
  /*position: relative;*/
  position: absolute;
  top: 60px;
  right: 390px;
  height: 22px;
  border: 1px solid white;
  background-color: #4267b2;
  width: 55px;
  -ms-flex-line-pack: center;
  align-content: center;
  font-size: small;
  color: white;
  font-weight: bolder;
}
